./annotiert
./annotiert/*
./annotiert/*.pdf
./bilder/*.pdf
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.tps
*.vrb
*.maf
*.mtc
*.mtc0
